<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Powerpoint</title>
    <link rel="stylesheet" href="CSS/index.css">
</head>
<body>  

    <div class="ApiSelect">
        <div>
            <label for="ApiEmpresa">Empresa</label>
            <select name="" id="ApiEmpresa">
                <option value="__selecione__">__SELECIONE__</option>
            </select>
        </div>
        <div>
            <label for="ApiCampanha">Campanha</label>
            <select name="" id="ApiCampanha">
                <option value="__selecione__">__SELECIONE__</option>
            </select>
        </div>
    </div>
    
    <div class="pageNavegation">
        <div class="preview"></div>
        <button class="nextButton" id="nextSlide"> &#8594; </button>
    </div>

    <div id="pageName">
            <h3 id="slideName">Nome da Pagina</h3>
            <button id="editarNome" class="buttonStyle">Editar</button>
    </div>

    <form action="GET" class="personalizationForm" id="formBody">

            <div>
                <p class="pages" id="slidePage"></p>
                <input type="file" name="backgroundImage" id="backgroundImage">
                <button type="button" id="download" class="buttonStyle" >Download</button>
            </div>

            <div class="optionForm">
                

                <div>
                    <label for="templateSelect">Template</label>
                    <select name="template" id="templateSelect">
                        <option value="">__escolha__</option>
                        <option value="grafico" id="grafico">Grafico</option>
                        <option value="graficoEtexto" id="graficoEtexto"> Grafico + Texto</option>
                        <option value="textoEgrafico" id="textoEgrafico"> Texto + Grafico</option>
                        <option value="texto" id="texto"> Texto </option>
                    </select>
                </div>

                <div class="textInput">
                    <label for="textSlide"> text input </label>
                    <input type="textarea" id="textSlide" placeholder="Texto do Slide">
                </div>

                <div>
                    <label for="fontSelector">Tamanho da font</label>
                    <input type="number" name="fontSize" id="fontSelector"
                    min="5" max="40" required >
                </div>

                <div>
                    <label for="textWeight">Text Weight</label>
                    <select name="textWeight" id="textWeight">
                        <option value="normal">Normal</option>
                        <option value="bold">Bold</option>
                    </select>
                </div>
                <div>
                    <label for="fontColor">Cor da Fonte</label>
                    <select name="fontColor" id="fontColor">
                        <option value="black">Preto</option>
                        <option value="white">Branco</option>
                    </select>
                </div>

  

            </div>

                <div>
                    <button type="button" id="plusPage" class="previousButton"> + </button>
                </div>

    </form>
    <script> src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"</script>   
    <script src="https://cdn.jsdelivr.net/npm/pptxgenjs@3.10.0/dist/pptxgen.bundle.js"></script>
   <script src="JS/index.js"></script> 
</body>
</html>
